/* packages/crm/src/index.css */
:root {
  /* Colors */
  --accent-color: #8b5cf6;
  --border-color: #e5e7eb;
  --bg-primary: #ffffff;
  --bg-secondary: #f9fafb;
  --bg-tertiary: #f3f4f6;
  --bg-hover: #f3f4f6;
  --text-primary: #111827;
  --text-secondary: #6b7280;
  --text-tertiary: #9ca3af;
  --loader-color: rgba(172, 172, 207, 0.25);
  --shadow-color: rgba(172, 172, 207, 0.25);

  /* Добавленные переменные для департаментов */
  --color-primary: #8b5cf6;
  --color-primary-light: #a78bfa;
  --color-primary-dark: #7c3aed;
  --color-primary-rgb: 139, 92, 246;

  --color-background: #ffffff;
  --color-background-secondary: #f9fafb;
  --color-border: #e5e7eb;

  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;

  --color-success: #10b981;
  --color-error: #ef4444;
  --color-warning: #f59e0b;
  --color-info: #3b82f6;
}

:root[data-theme='dark'] {
  --loader-color: rgba(70, 70, 81, 0.25);
  --accent-color: #8b5cf6;
  --border-color: #374151;
  --bg-primary: #111827;
  --bg-secondary: #1f2937;
  --bg-tertiary: #374151;
  --bg-hover: #374151;
  --text-primary: #f9fafb;
  --text-secondary: #d1d5db;
  --text-tertiary: #9ca3af;
  --shadow-color: rgba(172, 172, 207, 0.25);

  /* Тёмная тема */
  --color-primary: #8b5cf6;
  --color-primary-light: #a78bfa;
  --color-primary-dark: #7c3aed;
  --color-primary-rgb: 139, 92, 246;

  --color-background: #111827;
  --color-background-secondary: #1f2937;
  --color-border: #374151;

  --color-text-primary: #f9fafb;
  --color-text-secondary: #d1d5db;

  --color-success: #10b981;
  --color-error: #ef4444;
  --color-warning: #f59e0b;
  --color-info: #3b82f6;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
